.card {
  padding: 2rem;
  background-color: rgb(250, 245, 255, 0.3);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
